{% extends "layout.html.twig" %}

{% block main %}
<div class='constructionGlobalContainer'>
    <h1 class='ConstructionTitlePage'>Cette page est en construction</h1>
    <h2 class='ConstructionTitle'>En attendant vous pouvez consulter les pages suivantes</h2>

    <div class='ConstructionContainer'>
        <button class='ConstructionButton'>
            <a class='ConstructionNav' href={{path('Actuality')}}>Actualitées</a>
        </button>
        <button class='ConstructionButton'>
            <a class='ConstructionNav' href={{path('UsedVehicle')}}>Véhicles d'occasions</a>
        </button>
        <button class='ConstructionButton'>
            <a class='ConstructionNav' href={{path('NewVehicle')}}>Véhicles neufs</a>
        </button>
    </div>
</div>
{% endblock %}