{% extends "layout.html.twig" %}

{% block main %}
<h1 class='homeTitlePage'>Bienvenue sur le site de MotoChampion</h1>
<div class='homeSectionContainer'>
    <h2 class='homeTitleSection'>Découvrez nos véhicules</h2>
    <p class='homeText'>Découvrez notre large gamme de motos neuves Suzuki, où performance, innovation et confort se conjuguent pour offrir à chaque motard une expérience inoubliable. Que vous soyez passionné de motos sportives, à la recherche d'une moto routière pour des trajets longs et confortables, ou que vous préfériez une moto plus compacte et maniable pour vos déplacements urbains, Suzuki propose une vaste sélection de modèles pour satisfaire toutes vos envies et besoins.</p>
    <br class='homeText'>
    <p class='homeText'>Et ce n’est pas tout ! Nous vous proposons également une gamme étendue de motos d’occasion, rigoureusement sélectionnées et vérifiées par nos experts. Ces motos d'occasion bénéficient d'un contrôle complet afin de garantir leur performance et leur sécurité, tout en vous permettant de profiter de modèles Suzuki à un prix plus accessible. C'est l'assurance de conduire une moto fiable et robuste, tout en faisant un excellent investissement.</p>
    <br>
    <p class='homeText'>Que vous soyez à la recherche d’une moto neuve ou d'occasion, nos conseillers sont là pour vous guider et vous aider à trouver la moto qui correspond à vos attentes, votre style de conduite et votre budget. Venez découvrir nos modèles et profitez de nos offres de financement pour rouler en toute sérénité avec une moto Suzuki !</p>
</div>
<div class='homeSectionContainer'>
    <h2 class='homeTitleSection'>Réserver votre éssaie</h2>
    <p class='homeText'>Prenez contact avec nous dès aujourd'hui pour réserver l'essai de votre véhicule et vivre l'expérience Suzuki de manière concrète. Nous serons ravis de vous accueillir dans notre concession et de vous offrir la possibilité de tester le modèle de moto de votre choix, qu’il s’agisse d’un modèle neuf ou d'occasion. Profitez de ce moment pour évaluer la performance, le confort et la maniabilité de la moto, tout en recevant des conseils personnalisés de nos experts.</p>
    <br>
    <p class='homeText'>Que vous soyez un motard expérimenté ou un débutant, nos équipes se tiennent à votre disposition pour vous guider à chaque étape et répondre à toutes vos questions. L’essai vous permettra de vous projeter pleinement dans votre futur véhicule et de vérifier qu’il correspond parfaitement à vos attentes et à votre style de conduite. N’attendez plus, contactez-nous par téléphone, par email ou directement via notre site pour planifier votre essai à votre convenance.</p>
</div>
<div class='homeSectionContainer'>
    <h2 class='homeTitleSection'>Découvrez nos autres rubriques</h2>
    <p class='homeText'>N'hésitez pas à consulter nos autres rubriques pour tout savoir sur les dernières actualités, nos tarifs d'atelier et découvrir qui nous sommes. Que vous soyez curieux des nouveautés Suzuki, des promotions en cours, ou des événements à venir, notre section actualités vous tiendra informé des informations les plus récentes. De plus, si vous souhaitez connaître les prix de nos services d'entretien et de réparation, vous trouverez tous les détails sur nos tarifs d'atelier, transparents et compétitifs, afin que vous puissiez planifier vos visites sans surprise.</p>
    <br>
    <p class='homeText'>Enfin, pour mieux comprendre notre équipe et notre philosophie, vous pourrez explorer la rubrique "Qui sommes-nous ?" et en apprendre davantage sur notre histoire, nos valeurs et notre engagement à offrir un service de qualité à chaque client. Que ce soit pour l'achat d'une moto, un entretien, ou tout simplement pour en savoir plus sur notre univers, nous avons rassemblé toutes les informations dont vous avez besoin.</p>
</div>
{% endblock %}