{% extends "layout.html.twig" %}

{% block main %}
<h4 class='h4'>hello world</h4>
<button><a class="navbar-link" href={{ path('AdminActuality')}}>Nouvelle actualité</a></button>
<button><a class="navbar-link" href={{ path('AdminNewNewVehicle')}}>Nouveaux véhicules</a></button>
{% endblock %}