{% extends "layout.html.twig" %}

{% block main %}
<h1>Mentions Légales</h1>
    
    <h2>Éditeur</h2>
    <p><strong>Moto Champion, SAS</strong> au capital de 115 861,25€<br>
    93 rue Championnet, 75018 Paris<br>
    Tél : 01.42.59.67.55<br>
    Email : <a href="mailto:alain@moto-champion.com">alain@moto-champion.com</a><br>
    RCS Paris : 343 148 409<br>
    N° TVA intracommunautaire : FR 50 343 148 409 00018<br>
    Code APE : 504 Z</p>
    
    <h2>DPO</h2>
    <p>Le DPO déclaré auprès de la CNIL est : <a href="mailto:concession.motochampion@gmail.com">concession.motochampion@gmail.com</a><br>
    Numéro CNIL : 2169973</p>
    
    <h2>Conception & Réalisation</h2>
    <p><strong>Moto Champion, SAS</strong> au capital de 115 861,25€<br>
    93 rue Championnet, 75018 Paris<br>
    Tél : 01.42.59.67.55<br>
    Email : <a href="mailto:alain@moto-champion.com">alain@moto-champion.com</a><br>
    RCS Paris : 343 148 409<br>
    N° TVA intracommunautaire : FR 50 343 148 409 00018<br>
    Code APE : 504 Z</p>
    
    <h2>Hébergement</h2>
    <p><strong>Études Gamma</strong><br>
    31 boulevard Victor, 75015 Paris<br>
    Tél : 01.42.28.01.70<br>
    Email : <a href="mailto:contact@etudesgamma.com">contact@etudesgamma.com</a></p>
    
    <h2>Crédits photographiques & vidéos</h2>
    <p>KYMCO, Suzuki, Moto Champion</p>
    
    <h2>Informatique et Libertés</h2>
    <p>Chaque internaute ayant déposé des informations nominatives sur le site dispose des droits d’opposition (article 38 de la loi), d’accès (articles 39, 41 et 42 de la loi) et de rectification (article 40 de la loi) de ces données.<br>
    Pour exercer ces droits, contactez : <a href="mailto:concession.motochampion@gmail.com">concession.motochampion@gmail.com</a></p>
    
    <h2>Propriété Intellectuelle / Droits concédés aux utilisateurs</h2>
    <p>L’éditeur et ses partenaires sont titulaires exclusifs des droits de propriété intellectuelle portant sur la structure et le contenu du site.<br>
    Toute reproduction, diffusion, ou commercialisation est interdite sans autorisation préalable.</p>
    
    <h2>Limitation de Responsabilité</h2>
    <p>Ce site comporte des informations fournies par des sociétés externes et des liens vers d’autres sites. L’éditeur ne saurait être tenu responsable des contenus externes.</p>
    
    <h2>Messagerie</h2>
    <p>Les messages électroniques sont conservés durant leur traitement. Ils peuvent être interceptés sur le réseau. Veuillez ne pas transmettre d’informations sensibles.</p>
{% endblock %}