.actualityTitlePage {
    font-size: 50px;
    font-family: 'league gothic';
    text-align: center;
    text-transform: uppercase;
}

.actualityContainer {
    display: flex;
    flex-direction: column;
}

.actualityCard {
    border: solid 2px black;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
}

.actualityNameContainer {
    background-color: black;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    top: -15px;
    right: -30px;
}

.actualityName {
    font-family: 'league gothic';
    font-size: 30px;
    color: white;
    z-index: 1;
    margin-top: -1px;
    margin-bottom: -1px;
    text-transform: uppercase;
}

.actualityTitleContainer {
    text-align: center;
    margin-bottom: 40px;
}

.actualityTitle {
    text-transform: uppercase;
    font-size: 20px;
}

.actualityDateContainer {
    position: relative;
    right: -1700px;
}

.actualityDate {
    color: #d9d9d9
}

@media (max-width: 768px) {
    .actualityDateContainer {
        position: relative;
        right: -300px;
    }
}
