/* Style de base */
.adminContactTitlePage {
    text-align: center;
    font-family: 'league gothic';
    font-size: 50px;
}


.adminContactGlobalContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.adminContactTable {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.adminContactTableHead {
    background-color: #f8f8f8;
}

.adminContactTableHeadRow {
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.adminContactTableHeadCol {
    padding: 12px;
    font-weight: bold;
    color: #333;
}

.adminContactTableBody {
    background-color: #fff;
}

.adminContactTableRow {
    border-bottom: 1px solid #ddd;
}

.adminContactTableCol {
    padding: 12px;
    color: #555;
}

.btnAdminNewNewVehicleAdminHomeReturn {
    background-color: #cc6060;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
}

.btnAdminNewNewVehicleAdminHomeReturn:hover {
    background-color: darkred;
}

.navbar-link {
    color: white;
    text-decoration: none;
}

.navbar-link:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 1200px) {
    .adminContactTable {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .adminContactTableHeadCol, .adminContactTableCol {
        padding: 10px;
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    .btnAdminNewNewVehicleAdminHomeReturn {
        padding: 10px 15px;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .adminContactGlobalContainer {
        flex-direction: column;
        padding: 10px;
    }

    .adminContactTable {
        width: 100%;
    }

    .adminContactTableHeadCol, .adminContactTableCol {
        padding: 8px;
        font-size: 0.8rem;
    }

    .btnAdminNewNewVehicleAdminHomeReturn {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
    }
}
