.adminEditUsedVehicleTitlePage {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
    font-family: 'league gothic';
    text-transform: uppercase;
    font-size: 50px;
}

.adminEditUsedVehicleGlobalContainer {
    padding: 20px;
    gap: 20px;
}

.adminEditUsedVehicleImageContainer {
    flex: 1 1 40%;
    text-align: center;
}

.adminEditUsedVehicleImage {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.adminEditUsedVehicleFormContainer {
    flex: 1 1 50%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.adminEditUsedVehicleInputContainer {
    margin-bottom: 20px;
}

.adminEditUsedVehicleInputDescription {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 8px;
}

.adminEditUsedVehicleInput {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.adminEditUsedVehicleInput:focus {
    border-color: #007bff;
    outline: none;
}

.adminEditUsedVehicleSubmitButton {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.adminEditUsedVehicleSubmitButton:hover {
    background-color: #0056b3;
}

.adminEditUsedVehicleReturnButtonContainer {
    flex: 1 1 100%;
    text-align: center;
    margin-top: 20px;
}

.adminEditUsedVehicleReturnButton {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.adminEditUsedVehicleReturnButton:hover {
    background-color: #c0392b;
}

.adminEditUsedVehicleReturnButtonDescription {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
