@import url(header.css);
@import url(footer.css);
@import url(adminNewVehicleForm.css);
@import url(adminNewVehicle.css);
@import url(adminUsedVehicle.css);
@import url(adminHome.css);
@import url(adminNewActuality.css);
@import url(adminNewVehicleEdit.css);
@import url(adminUsedVehicleForm.css);
@import url(adminUsedVehicleEdit.css);
@import url(adminContact.css);
@import url(adminNewAdmin.css);
@import url(usedVehicle.css);
@import url(newVehicle.css);
@import url(home.css);
@import url(actuality.css);
@import url(construction.css);
@import url(contact.css);
@import url(newVehicleDetail.css);
@import url(loginAdmin.css);

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html,body {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; 
}


.newVehicleDetailSlide{
    display: none;
}

.newVehicleDetailSlideActive{
    display: block;
}


.newVehicleDetailTryButton.inactive {
    background-color: grey;   /* Rendre le bouton gris */
    cursor: not-allowed;      /* Changer le curseur pour indiquer l'inactivité */
    opacity: 0.5;             /* Rendre le bouton un peu transparent */
}

 