.footer {
    background-color: #272727;
    color: white;
    padding: 20px 0; /* Un peu de padding pour le footer */
    margin: 0;
}

.informations {
    justify-content: space-around;
    margin-left: 15px;
}

.hours, .contact, .accessibility {
    margin-top: 20px;
}

.footer-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -5px;
}

.footer-text {
    font-size: 12px;
    margin-bottom: -5px;
}

.legalText {
    color: white;
    text-decoration: none;
}

.legal {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 10px;
}

@media (min-width: 768px){
    .informations{
        display: flex;
        flex-direction: row;
    }
}