.headerHours {
    display: none;
}

.splitNav {
    border-top: 1px solid white;
    margin-left: 25px;
    margin-right: 25px;
}
/* Navbar */
.navbar-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #272727;
    color: white;
}

/* Burger icon */
.navbar-burger {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu links */
.navbar-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: #272727;
    width: 100%;
    max-height: 0; /* Hauteur initiale 0 */
    overflow: hidden; /* Cache le contenu hors limites */
    transition: max-height 0.5s ease; /* Animation fluide */
    z-index: 100;

}

/* Liens du menu */
.navbar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar-links li {
    margin: 10px 0;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar-link:hover {
    color: #166CED;
}

.navbar-links.active {
    max-height: 500px; /* Hauteur maximum à ajuster selon le contenu */
}

.logos.mobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Responsive - Menu burger */
@media (max-width: 768px) {
    .navbar-links.active {
        display: flex; /* Afficher le menu quand il est actif */
        flex-direction: column;
    }

    .navbar-burger img {
        width: 30px; /* Taille de l'icône du burger */
        height: 30px;
    }
}

@media (min-width: 768px) {
    .navbar-links {
        display: flex; /* Toujours afficher les liens sur les grands écrans */
        flex-direction: row;
        position: static;
        width: auto;
        padding: 0;
    }

    .navbar-links li {
        margin: 0 15px;
    }

    .navbar-burger {
        display: none; /* Cacher le burger sur les grands écrans */
    }
}
