.newVehicleTitlePage {
    font-size: 50px;
    font-family: 'league gothic';
    text-align: center;
    text-transform: uppercase;
}

.newVehicleTitleCategoryContainer {
    background-color: #d9d9d9;
    margin-right: 250px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.newVehicleTitleCategory {
    font-size: 35px;
    font-family: 'league gothic';
    text-transform: uppercase;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.newVehicleCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.newVehicleCard {
    border: solid 2px black;
    position: relative;
    z-index: 0;
    margin-left: 75px;
    margin-bottom: 20px;
    transition: transform 0.2s;
}
.newVehicleCard:hover {
    transform: translateY(-5px);
}

.newVehiclePriceContainer {
    background-color: #166CED;
    border: solid 2px black;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 5px;
    left: -40px;
}

.newVehiclePrice {
    font-family: 'league gothic';
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 1;
}

.newVehicleTitleContainer {
    background-color: black;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    top: -15px;
    right: -30px;
}

.newVehicleTitle {
    font-family: 'league gothic';
    font-size: 30px;
    color: white;
    text-decoration: none;
    z-index: 1;
    margin-top: -1px;
    margin-bottom: -1px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .newVehicleCardContainer {
        flex-direction: column;
        align-items: center;
    }

    .newVehicleCard {
        margin-left: 0;
    }
}