.UsedVehicleTitlePage {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'league gothic';
}

.usedVehicleGlobalContainer {
    display: flex;
    flex-wrap: wrap;
}

.usedVehicleCard {
    border: solid black 2px;
    margin-left: 75px;
    transition: transform 0.2s;
    position: relative;
    text-decoration: none;    
    margin-bottom: 50px;
}
.usedVehicleCard:hover {
    transform: translateY(-5px);
}

.usedVehicleTitleContainer {
    background-color: black;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    top: -15px;
    right: -30px;
}

.usedVehicleTitle {
    font-family: 'league gothic';
    font-size: 30px;
    color: white;
    text-decoration: none;
    z-index: 1;
    margin-top: -1px;
    margin-bottom: -1px;
    text-transform: uppercase;
}

.usedVehicleBrandContainer {
    background-color: #166CED;
    text-align: center;
    margin-top: -34px;
    margin-bottom: -30px;
}

.usedVehicleBrand {
    font-family: 'league gothic';
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.usedVehicleInfosContainer {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-evenly;
}

.usedVehicleKilometers {
    font-family: 'roboto';
    text-align: center;
    color: white;
}

.usedVehicleYear {
    font-family: 'roboto';
    text-align: center;
    color: white;
}

.usedVehiclePriceContainer {
    background-color: #166CED;
    border: solid black 2px;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 110px;
    left: -40px;
}

.usedVehiclePrice {
    font-family: 'league gothic';
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 1;
}