.usedVehicleDetailTitlePage {
    font-size: 50px;
    font-family: 'league gothic';
    text-align: center;
    text-transform: uppercase;
}

.usedVehicleDetailCard {
    display: flex;
    flex-direction: row;
    border: solid 2px black;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    position: relative;
}

.usedVehicleDetailNavbarButton {
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: black;
    background-color: white;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}

.usedVehicleDetailButtonTryContainer {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.usedVehicleDetailButtonTry {
    border: solid 2px black;
    text-transform: uppercase;
    font-family: 'league gothic';
    font-size: 20px;
    color: white;
    background-color: #166CED;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    padding: 10px;
}

.usedVehicleDetailNavbarButton.active {
    background-color: #166CED;
    color: white;
}

.usedVehicleDetailButtonTryDescription {
    text-decoration: none;
    color: white;
}

.usedVehicleDetailTitleDescription {
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .usedVehicleDetailCard {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .usedVehicleDetailButtonTryContainer {
        position: static;
        right: 0;
        bottom: 10px;
        margin: 5px;
    }

    .usedVehicleDetailTitleContainer {
        text-align: center;
    }

    .usedVehicleDetailDescriptionContainer {
        text-align: initial;
    }

    .usedVehicleDetailImage {
        width: 100%;
        height: auto;
    }
}
