<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href={{asset('styles/global.css')}}>
		<title>MotoChampion</title>


	</head>
	<body>
		<header class='navbar'>
			{# {% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{% include "components/navbar_connected.html.twig" %}
			{% else %} #}
				{% include "components/navbar.html.twig" %}
			{# {% endif %} #}
		</header>

		<main>
			{% block main %}{% endblock %}
		</main>
		{% include "components/footer.html.twig" %}
		<script src="{{ asset('script/global.js') }}"></script>
	</body>
</html>