<footer class="footer">
    <div class="informations">
        <div class="hours">
            <p class='footer-title'>Horaire</p>
            <p class='footer-text'>Mardi => Vendredi : 9h-12h45 // 14h-18h30</p>
            <p class='footer-text'>Samedi : 9h-12h45 // 14h-18h30</p>
        </div>
        <div class="contact">
            <p class='footer-title'>Contact</p>
            <p class='footer-text'>Tel : 01.42.59.67.55</p>
            <p class='footer-text'>Adresse : 93 rue Championnet, 75018 Paris</p>
        </div>
        <div class="accessibility">
            <p class='footer-title'>Accessibilité</p>
            <p class='footer-text'>Metro ligne 4 : Porte de Clignancourt</p>
            <p class='footer-text'>Metro ligne 12 : Jules Joffrin</p>
        </div>
    </div>
    <div class="legal">
        <p class='legalText'>Copyright © 2022 MotoChampion</p>
        <a class='legalText' href="{{ path('legalMention') }}">
            <p class='legalText'>Mentions légales</p>
        </a>
        <p class='legalText'>Politique de confidentialité</p>
    </div>
</footer>